.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
}

#status,#silicon
{
font-size: 18px;
}

body
{
background-size: cover;
background-position:center ;
}

canvas
{
    box-shadow: 38px 38px 19px yellowgreen;
    margin-top: 100px;
}
